:root {
    --white: #FFFFFF;
    --darkred: #D3342C;
}

body {
    background: linear-gradient(transparent 0%, transparent 10%, black 20%, black 40%, transparent 50%, transparent 60%, black 70%, black 100%),
    url(logos/background_red_lines.svg);
    background-attachment: local, fixed;
    background-size: cover;
}

.main-logo {
    max-width: 100vw;
    max-height: 85vh;
    display: block;
    margin: 5vw auto 0 auto;
}

.image {
    max-width: 100vw;
    display: block;
    margin: 0 auto;
}