<!DOCTYPE html>
<html>
    <nav>
        <link rel="stylesheet" href="navBar.css">
        <div class="topnav">
            <div class="left-nav">
                <p><a href="https://youtu.be/dQw4w9WgXcQ?si=RR1Nao0HdIxbaFoa"><img src="../../logos/sm_logo_regie.svg" width="60px" height="60px" target="_top" id="logo_regie_petit" style="margin-top: 8px; margin-left: 30px;"/></a></p>
            </div>

            <div class="right-nav">
                <a href="pages\regisseurs.html" target="_top">Régisseur</a>
                <a href="pages\commanditaire.html" target="_top">Commandites</a>
                <a href="#projetsEtudiants" target="_top">Projets Étudiants</a>
                <a href="docsPdf\Cahier-des-positions-RÉGIÉ-2022.pdf" target="_top">Cahier Positions</a>
                <a href="docsPdf\Charte_RÉGIÉ_2021-2022.pdf" target="_top">Charte</a>
                <a href="http://gelgif.com" target="_top">Accueil</a>
            </div>

        </div>
    </nav>
</html>