<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="..\components\navigation_bar\navBar.css">
    <div class="topnav">
        <div class="left-nav">
            <p><a href="https://youtu.be/dQw4w9WgXcQ?si=RR1Nao0HdIxbaFoa"><img src="../../logos/sm_logo_regie.svg" width="50px" height="50px" id="logo_regie_petit" style="margin-left: 30px;"/></a></p>
        </div>
        <div class="right-nav">
            <ul>
                <!--<li><a href="../pages\regisseurs.html">Régisseur</a></li>-->
                <li><a href="../pages\commanditaire.html">Commandites</a></li>
                <!--<li><a href="#projetsEtudiants">Projets Étudiants</a></li>-->
                <li><a href="../docsPdf\Cahier-des-positions-RÉGIÉ-2022.pdf">Cahier Positions</a></li>
                <li><a href="docsPdf\Charte_RÉGIÉ_2021-2022.pdf">Charte</a></li>
                <li><a href="../index.html">Accueil</a></li>
            </ul>
        </div>
    </div>
</html>