<footer>
  <link rel="stylesheet" href="../components/footer.css">
  <div class="footer">
      <div class="left-footer">
          <img src="../logos/sm_logo_regie.svg" alt="REGIE logo" width="44px" height="44px">
      </div>
      <div class="center-footer">
          <div class="footer-address">1234 rue avenuetielle</div>
          <div class="logos">
              <a class="footer-logo-link" href="../pages/regisseurs.html">
                  <img class="footer-logo" src="../logos/footer/instagram_logo.svg" alt="instagram logo" width="20px" height="20px">
              </a>
              <a class="footer-logo-link" href="#">
                  <img class="footer-logo" src="../logos/footer/facebook_logo.svg" alt="facebook logo" width="20px" height="20px">
              </a>
              <a class="footer-logo-link" href="#">
                  <img class="footer-logo" src="../logos/footer/mail_logo.svg" alt="mail logo" width="20px" height="20px">
              </a>
          </div>
      </div>
      <div class="right-footer"></div>
  </div>
</footer>